// color palette
$c50: #e8f3ff;
$c100: #d5e8ff;
$c200: #b3d3ff;
$c300: #85b4ff;
$c400: #5686ff;
$c500: #2f59ff;
$c600: #0c26ff;
$c700: #0017eb;
$c800: #061ccd;
$c900: #10249f;
$c950: #0a135c;

// logos color pallete
$light: $c50;
$picton: #4cabe4;
$jeans: #5bb5e9;
$baby: #89c8f2;
$vivid: #11aced;
$violet: #324baa;

// font
$font: "Inter", sans-serif;
